//
//  AppStore.xcconfig
//  {{ cookiecutter.project_name | replace(' ', '') }}
//
//  Created by {{ cookiecutter.lead_dev }} on {% now 'utc', '%D' %}.
//  Copyright © {% now 'utc', '%Y' %} {{ cookiecutter.company_name }}. All rights reserved.
//

#include "{{ cookiecutter.project_name | replace(' ', '') }}/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = //FIXME: Insert production bundle here
PRODUCT_NAME = $(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx //FIXME: Insert app store TEAM ID here

CODE_SIGN_IDENTITY_{{ cookiecutter.project_name | replace(' ', '') }} = iPhone Distribution
PROVISIONING_PROFILE_{{ cookiecutter.project_name | replace(' ', '') }} = xxxxxx //FIXME: Insert App Store provisioning profile ID

FABRIC_API_KEY = $({{ cookiecutter.project_name | replace(' ', '') }}_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $({{ cookiecutter.project_name | replace(' ', '') }}_FABRIC_BUILD_SECRET)

GA_ENVIRONMENT = production

// This file must be included last to properly resolve the offical Xcode variables.
#include "{{ cookiecutter.project_name | replace(' ', '') }}/Resources/xcconfig/Global.xcconfig"
