//
//  Develop.xcconfig
//  {{ cookiecutter.project_name | replace(' ', '') }}
//
//  Created by {{ cookiecutter.lead_dev }} on {% now 'utc', '%D' %}.
//  Copyright © {% now 'utc', '%Y' %} {{ cookiecutter.company_name }}. All rights reserved.
//

#include "{{ cookiecutter.project_name | replace(' ', '') }}/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.{{ cookiecutter.project_name | replace(' ', '') }}.develop
PRODUCT_NAME = develop-$(TARGET_NAME)

CODE_SIGN_IDENTITY_{{ cookiecutter.project_name | replace(' ', '') }} = iPhone Distribution

// FIXME: These values are the Rightpoint Enterprise Team ID and wild card provisioning profile UUID by default.
// Use these, or correct to your own develop team ID and provisioning profile ID:
DEVELOPMENT_TEAM = XRTVVR644Y
PROVISIONING_PROFILE_{{ cookiecutter.project_name | replace(' ', '') }} = 8876e481-f80e-42c0-bb05-762de956a67c

// CODE_SIGN_ENTITLEMENTS = {{ cookiecutter.project_name | replace(' ', '') }}/develop-{{ cookiecutter.project_name | replace(' ', '') }}.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RZINTERNAL

//FIXME: Insert AppCenter Secret
// APPCENTER_APP_SECRET = xxxxxx

// This file must be included last to properly resolve the offical Xcode variables.
#include "{{ cookiecutter.project_name | replace(' ', '') }}/Resources/xcconfig/Global.xcconfig"
