//
//  Sprint.xcconfig
//  {{ cookiecutter.project_name }}
//
//  Created by {{ cookiecutter.lead_dev }} on 11/1/16.
//  Copyright © 2016 {{ cookiecutter.company_name }}. All rights reserved.
//

#include "{{ cookiecutter.project_name }}/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.{{ cookiecutter.project_name }}

OTHER_SWIFT_FLAGS = -D INSTABUG -D RZINTERNAL

CODE_SIGN_IDENTITY_{{ cookiecutter.project_name }} = iPhone Developer
PROVISIONING_PROFILE_{{ cookiecutter.project_name }} =

#include "{{ cookiecutter.project_name }}/Resources/xcconfig/Global.xcconfig"
