//
//  AppStore.xcconfig
//  PRODUCTNAME
//
//  Created by LEADDEVELOPER on 11/1/16.
//  Copyright © 2017 ORGANIZATION. All rights reserved.
//

#include "PRODUCTNAME/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = // Insert production bundle here
PRODUCT_NAME = $(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // Insert app store TEAM ID here

CODE_SIGN_IDENTITY_PRODUCTNAME = iPhone Distribution
PROVISIONING_PROFILE_PRODUCTNAME = xxxxxx // Insert App Store provisioning profile ID

FABRIC_API_KEY = $(PRODUCTNAME_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(PRODUCTNAME_FABRIC_BUILD_SECRET)

GA_ENVIRONMENT = production

// This file must be included last to properly resolve the offical Xcode variables.
#include "PRODUCTNAME/Resources/xcconfig/Global.xcconfig"
