//
//  Debug.xcconfig
//  PRODUCTNAME
//
//  Created by LEADDEVELOPER on 11/1/16.
//  Copyright © 2016 ORGANIZATION. All rights reserved.
//

#include "PRODUCTNAME/Resources/xcconfig/Raizlabs-Account.xcconfig"

OTHER_SWIFT_FLAGS = -D INSTABUG -D DEBUG

#include "PRODUCTNAME/Resources/xcconfig/Global.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.PRODUCTNAME.debug
PRODUCT_NAME = debug-$(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // Insert debug TEAM ID here

CODE_SIGN_IDENTITY_PRODUCTNAME = iPhone Developer
PROVISIONING_PROFILE_PRODUCTNAME = xxxxxx // Insert debug provisioning profile ID
// CODE_SIGN_ENTITLEMENTS = PRODUCTNAME/debug-PRODUCTNAME.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
