//
//  Sprint.xcconfig
//  PRODUCTNAME
//
//  Created by LEADDEVELOPER on TODAYSDATE.
//  Copyright © THISYEAR ORGANIZATION. All rights reserved.
//

#include "PRODUCTNAME/Resources/xcconfig/Raizlabs-Account.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.PRODUCTNAME.sprint
PRODUCT_NAME = sprint-$(TARGET_NAME)

CODE_SIGN_IDENTITY_PRODUCTNAME = iPhone Distribution

// FIXME: These values are the Rightpoint Enterprise Team ID and wild card provisioning profile UUID by default.
// Use these, or correct to your own sprint team ID and provisioning profile ID:
DEVELOPMENT_TEAM = XRTVVR644Y
PROVISIONING_PROFILE_PRODUCTNAME = 8876e481-f80e-42c0-bb05-762de956a67c

// CODE_SIGN_ENTITLEMENTS = PRODUCTNAME/sprint-PRODUCTNAME.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RZINTERNAL

// This file must be included last to properly resolve the offical Xcode variables.
#include "PRODUCTNAME/Resources/xcconfig/Global.xcconfig"
