//
//  Sprint.xcconfig
//  PRODUCTNAME
//
//  Created by LEADDEVELOPER on 11/1/16.
//  Copyright © 2016 ORGANIZATION. All rights reserved.
//

#include "PRODUCTNAME/Resources/xcconfig/Raizlabs-Account.xcconfig"

OTHER_SWIFT_FLAGS = -D INSTABUG -D RZINTERNAL

#include "PRODUCTNAME/Resources/xcconfig/Global.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.PRODUCTNAME.sprint
PRODUCT_NAME = sprint-$(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // Insert sprint TEAM ID here

CODE_SIGN_IDENTITY_PRODUCTNAME = iPhone Distribution
PROVISIONING_PROFILE_PRODUCTNAME = xxxxxx // Insert sprint provisioning profile ID
// CODE_SIGN_ENTITLEMENTS = PRODUCTNAME/sprint-PRODUCTNAME.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG CRASHLYTICS
